
<div class="container my-3">
    <div class="row my-3">
        <div class="col-md-6">
            <div class="box-title">
                <a class="box-title-name" href="/ban-tin-du-an"><h3><i class="fa fa-circle"></i> Bản đồ</h3></a>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1347.8948024153367!2d106.76837759145259!3d10.940743225539576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDU2JzI2LjciTiAxMDbCsDQ2JzA5LjUiRQ!5e1!3m2!1svi!2s!4v1553066083045" height="300" frameborder="0" style="border:0;width:100%" allowfullscreen></iframe>
        </div>
        <div class="col-md-6">
            <div class="box-title">
                <a class="box-title-name" href="javascript:"><h3><i class="fa fa-circle"></i> Liên Hệ</h3></a>
            </div>
            <form name="frmContact" id="frmContact" method="post">
                <input type="text" required name="FullName" placeholder="Họ tên của bạn" value="" />
                <input type="text" required name="Phone" placeholder="Điện thoại" value="" />
                <textarea name="Comment" id="Comment" rows="6" placeholder="Tin Nhắn"></textarea>
                <div><input type="submit" class="btn btn-primary btn-lg mb-2" value="Gửi liên hệ"></div>
            </form>
        </div>
    </div>
</div>
