.cateitem img {
    max-width: 100%;
}

.cateitem .cate-name a {
    color: #323438;
}
.cateitem .cate-name a:hover{
    color:#adafb2;
}

.cateitem{
    margin-bottom:30px;
}
.wr-po{
    margin-top:2em;
    margin-bottom:2em;
}